.edit_btn{
  background-color: #75e382;
  border : 1px  solid;
  border-radius: 20px;
  padding: 10px 20px; 

}

.badge{
  background-color: #2f9339;
  /* background-color: #1899c1; */
  padding: 5px 10px;
}

body {
  font-family: 'Nanum Gothic', 'Malgun Gothic', sans-serif;
}


#verseTitle{
  width: 400px;
}
#verseContent ,#prayText{
  width: 400px;
  height: 400px;
}

#bibleUrl{
  width: 400px;
}



#saveBtn {
  padding: 10px 20px;
  background-color: #2f9339;
  color: white;
  margin-bottom: 10px;
  width: 115%;
}


#cancelBtn{
  padding: 10px 20px;
  color: white;
  width: 115%;
}



  .badge-개역개정 { background-color:#2f9339; }
  .badge-개역한글 { background-color: #285ba7; }
  .badge-표준새번역 { background-color: #ffc107; color: #000; }
  .badge-공동번역 { background-color: #dc3545; }
  .badge-새번역 { background-color: #6c757d; }
  .badge-새번역개정판 { background-color: #6c757d; }
  